body {
    
	padding: 10px;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	line-height: 1.6;
	font-size: 18px;
      background-image:-webkit-linear-gradient(60deg,
    #ffffff,
    #e8d3c2);
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;


    
}

.main{
     text-align: center;
    height:auto;
    width:auto;
    overflow: hidden;
    letter-spacing: 15px;
    
}
.image{
   height:auto;
    width:auto;
   text-align: center;
   
    overflow: hidden;
}
.desc{
    height:auto;
    width:auto;
    color:#f48e64;
    text-align: center;
    padding-right: 25%;
    padding-left:25%;
    height: 100%;
    
    overflow: hidden;
    
}


.cusBtn{
    height:auto;
    
    margin-left:auto;
    margin-right:auto;
    display:block;
    text-align: center;
    padding : 20px;
    border : none;
    border-radius: 30px;
    background-color: #FFCB9E;
    color: #C76024;
    font-size: 18px;
    text-decoration: none;
}
.cusBtn:hover{
    text-align: center;
    transition: 0.7s;
    color: #FFCB9E;
    background-color: #C76024;
    text-decoration: none;
}
